# pycache
**/__pycache__/
.DS_Store

*.pyc

.env
.env.development
*.log
.venv/*
.vscode/*
!.vscode/*.json


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
